body {
  /* width: 1200px; */
  margin: 20px 50p;
  font-family: 'Montserrat', sans-serif;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
}

img {
  border: 0;
}
.the_container{
  padding: 30px;
}

.hero{
  display: flex;
  justify-content: space-evenly;
  width: 1197px;
  height: 664.19px;
  background-image: url(../images/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 11.4px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.hero:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);


}
.hero_one {
  width: 495.5px;
  height: 572.31px;
  padding: 20px; 
  z-index: 10; 
}

.big_line{
  width: 418px;
  background-color: #0269CA;
  height: 6px;  
  margin: 0 auto;
}
.small_line{
  width: 209px;
  background-color: #0269CA;
  height: 2px;  
  margin: 0 30px;
}

.hero_two {
  width: 601.7px;
  height: 583.7px;
  background-color: #000000;
  z-index: 10;
  color: #ffffff;
  padding: 11.4px 55.6px;
}
/* .hero_two .hero_text{
  margin-top: 50px;
  width: 560px;
  height: 400px;
  
} */

.hero_two button{
  font-size: 24px;
  padding:  20px 30px;
  color: #ffffff;
  background-color: #0269CA;
  border: 0px;
}
.hero_two .hero_text p{
  font-size: 24px;
 width: 451.17px;
 line-height: 40px;
}
.hero_two .hero_text strong{
  font-size: 40px;

}


.container {
  width: 1182px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  background-color: #0269CA;
  padding: 50px 28px;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  margin: 0px;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  /* padding: 1em; */
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
  margin: 20px 80px;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}



.line_one_container{
  background-color: #0269CA;
   height: 2px;
    width: 418px;
  z-index: 1;

}

.line_two_container{
  background-color: #0269CA;
  height: 6px; 
  width: 418px; 
  margin-left:  auto;
  z-index: 1;

}








button{
  font-size: 24px;
  padding:  20px 30px;
  color: #000000;
  background-color: #ffffff;
  border: 0ch;
}
.text_container{
  background-image: url(../images/bacg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  z-index: -1;
  padding: 30px 28px;
  width: 1182px;
  margin: 0 auto;
}
.text_container:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;

}
.text_container p{
  z-index: 10;
  font-size: 24px; 
  margin: 20px 100px;
}
.cards_container{

  width: 1182px;
  margin: 0 auto;
  background-color: #212121;
  color: #ffffff;
  padding: 30px 28px;
  text-align: center;
}
.cards_container p{
  font-size: 24px; 
  margin: 20px 100px;
}
.card_items{
  display: flex;
  justify-content: space-evenly;
  /* text-align: left; */
}
.card_items .card{
  width: 505px;
  height: 263px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.footer{
  background-color: #212121;
  color: #ffffff;
  padding: 50px;
  padding: 30px 28px;
  width: 1182px;
  margin: 0 auto;
}

.footer_container{
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between; 
  padding: 20px;
}

.footer_container strong{
  font-size: 32px
}

.button{
  text-decoration: none;
  background: #0269CA;
  color: #ffffff;
  padding: 12px 30px;
}
.footer_container_1{
  color: #8A94A7;
  display: flex;
  justify-content: space-between; 
  padding: 30px 20px 0px 20px;
}











@media all and (max-width: 768px) {
 
  .the_container{
    padding: 0px;
  }
  

  .hero{
    display: flex;
    flex-direction: column;
    width: 357px;
    padding: 0px;
    height: 686px;
  }
  
  .hero_one {
    width: 355px;
    height: 140.38px;
    padding: 10px;
  }
  .hero_two {
    width: 355px;
    height: 611px;
    padding: 10px;
    margin: 0 1px;

  }
  .hero_two .hero_text strong{
    font-size: 28px;
  
  }
  .hero_two .hero_text p{
    width: 339.17px;
    font-size: 22px;
   }
  .big_line{
    width: 342px;
    background-color: #0269CA;
    height: 6px;  
    margin: 0 auto;
  }
  .small_line{
    width: 342px;
    background-color: #0269CA;
    height: 2px;  
    margin: 0 auto;
  }

  .hero_two .hero_text{
    width: 290px;
  }


  .container {
    padding: 10px 20px;
    width: 360px;
  }

  h1 {
      font-size: 1.3rem;
  }
ul{
  padding: 20px 0px;
}
  li {
      font-size: 15px;
      padding: .75rem;
  }

  li span {
      font-size: 2.075rem;
      margin: 0px;
  }
  .text_container{
    padding: 10px 20px;
    width: 360px;
  }
  .text_container p{
    font-size: 24px; 
    margin: 5px 15px;
    text-align: center;
  }

  .line_one_container{
   
    width: 210px;
  }

  
.line_two_container{
  width: 210px; 
}

.cards_container{
  padding: 10px 20px;
    width: 360px;
}
.cards_container p{
  margin: 10px 5px;
}
.card_items{
  display: flex;
  flex-direction: column;
}
.card_items .card{
  width: 295px;
  margin: 10px auto;

}
.footer{
  padding: 10px 20px;
    width: 360px;
}
.footer_container{
  height: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
 
}

.footer_container strong{
  font-size: 20px;
  padding-bottom: 20px;
}
.button{
  padding: 30px auto;
}
.footer_container_1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

}
